body{
    background-image: url(images/Black-Abstract-HD-Wallpaper.jpg);
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}

#main-header{
    text-align: center;
    margin: 0;
    padding-top: 20px;
    color: white;
}

#explanation-p{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-top: 40px;
    margin: 0;
    
}

#explanation-list{

    margin: 0;
    padding-top: 10px;
    text-align: center;
}


#list-detail{
    list-style: none;
    line-height: 26px;
    padding: 0;
    margin: 0;
    display: inline-block;
    text-align: left;

}

#job-board{
    margin: 60px;
    margin-top: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns:  1fr;
    border: 2px whitesmoke solid;
    border-style: line;
    border-radius: 3px;
    box-shadow: 0 3px #bbb;
    padding: 15px;
}

#job-board input{
    padding: none;
    font-size: 16px;
    min-width: 150px;
}

#buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}

#job-board-save-button{
    background-color: green;
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 12px;
    border-radius: 8px;
    box-shadow: 0 3px #bbb;
    width: 45%;
    text-align: center;
    display: inline-block;
}

#job-board-save-button:active{
    box-shadow: 0 3px #bbb;
    transform: translateY(3px)
}

#clearInput{
    width: 25%;
    align-items: center;
    display: inline-block;
    text-align: center;
}

#clearInput:active{
    box-shadow: 0 3px #bbb;
    transform: translateY(3px)
}

#job-display-board-list{
    list-style: none;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    text-align: justify;
    border: 3px whitesmoke solid;
    border-style: line;
    border-radius: 3px;
    box-shadow: 0 3px #bbb;
    padding: 15px;

}

#job-div{
    width: 100%;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-right: 3px;
}

#filter-job{
    text-align: center;
    font-size: 16px;
}

.status-hired {background-color: #7FFFD4; color: black;}
.status-waiting{background-color: #ffff00; color: black;}
.status-denied { background-color: #DB7093; color: black; }
.status-ghosted { background-color: gray; color: white; }
.status-archived{background-color: #fffacd; color: black}


/* edit modal styling */

#editModal{
    display:none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    color: black;
    z-index: 1000;
}

#editModal.show{
    display: flex;
}


#modal-content{
    background: #C0C0C0;
    padding: 20px 25px;
    border-radius:8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    width: 100%;
    max-width: 500px; 
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#closeModal {
    align-self: flex-end;
    font-size: 22px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    margin-bottom: 10px;
}

#saveEditBtn{
    background-color: green;
    color: white
}

#saveEditBtn:active{
    box-shadow: 0 3px #bbb;
    transform: translateY(3px)
}


/* contact me styling */

#contact-list{
    list-style: none;
    text-align: center;
}

#contact-link{
    font-size: 16px;
}

#wrapper{
    display: flex;
    justify-content: center;
}

#contact-me-div{
    display: inline-block;
    text-align: center;
    border: 2px solid whitesmoke;
    border-style: line;
    border-radius: 6px;
    padding: 8px 12px;
    margin: 10px auto;

}

#contact-list{
    list-style: none;
    font-size: 18px;
    line-height: 2em;
    margin: 0;
    padding: 0;
}

#contact-header{
    text-align: center;
    display: block;
    margin: 35px;
    padding: 0;
}


